<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoBar">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainMenu"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Suppliers"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddSupplier"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Costs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCosts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Orders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Shops"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddShop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ToDo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Barcode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Price"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Status"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddBarcode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddPrice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddPriceCheck"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddEditStatus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddToDo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:label="@string/about_title"
            android:screenOrientation="portrait"
            android:theme="@style/AlertDialogCustom" />
        <activity
            android:name=".ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".OrderSetAlarm"></activity>
        <!--Premmission to alarm - for orders-->
        <receiver android:name=".AlarmReceiver" android:process=":remote" />

    </application>

</manifest>