<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moran.myd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoBar">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppThemeNoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration" />
        <activity android:name=".MainMenu" />
        <activity android:name=".Suppliers" />
        <activity android:name=".AddSupplier" />
        <activity android:name=".Costs" />
        <activity android:name=".AddCosts" />
        <activity android:name=".Orders" />
        <activity android:name=".AddOrder" />
        <activity android:name=".Shops" />
        <activity android:name=".AddShop" />
        <activity android:name=".ToDo" />
        <activity android:name=".AddToDo" />
        <activity android:name=".Barcode" />
        <activity android:name=".AddBarcode" />
        <activity android:name=".Price" />
        <activity android:name=".AddPrice" />
        <activity android:name=".AddPriceCheck"></activity>
    </application>

</manifest>